.mainDiv{
  display: flex;
  justify-content: center;
  height: auto;
  padding-top:10px;
  margin: 10em;
  border-radius: 10px;
}
.titleForgot{
  display: flex;
  align-items: center;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 11px;
  font-size:large;
  flex-direction: column;
}
.button{
  display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 107px;
    flex-flow: column;
}
.registerButton{
  display: flex;
  padding-left: 168px;
  padding-top: 41px;
}